<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= data.page.title%> — maddesigns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mobile ODL – Ein mobiles Open Device Lab für Ihr Projekt.">
    <%= stylesheet_link_tag "normalize", "foundation" %>
    <%= javascript_include_tag  "vendor/custom.modernizr" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "layouts/global/navigation" %>
    <%= yield %>

    <!-- <script>
      document.write('<script src=/js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script> -->
    <!-- <%= javascript_include_tag  "foundation-stack", "app" %> -->
    <%= javascript_include_tag  "plugins" %>
  </body>
</html>
