---
title: mobile ODL
---
<header class="row">
	<div class="small-12 large-12 columns">
		<h1><img src="img/logo-mobileodl.svg" alt="mobile ODL"><br>
			<span class="subheader">Ein mobiles Open Device Lab für Ihr Projekt.</span>
		</h1>
	</div>
</header>
<main class="row">
	<div class="small-12 large-12 columns">
	<p>Testen ist auf echten Geräten bei Web- und Appprojekten unabdingbar. Wenn es um Qualitätssicherung geht, gibt es keinen Ersatz für das echte Gerät – unter echten Bedingungen.
	Als Freelancer für moderne Webentwicklung berate und unterstütze ich Agenturen und Unternehmen bei der Konzeption und Realisation ihrer Webseiten im Responsive Design. Das heißt für mich auch, Ihre Projekte durch die Brille Ihrer Kunden zu betrachten.</p>
		<p>Mein <a href="#aboutodl">mobile Open Device Lab</a> bietet ihnen eine große Anzahl an Testgeräten, um Sie bei der Umsetzung Ihrer Ideen zu unterstützen. Sie suchen Unterstützung beim Testing oder möchten ihre Projekte zukunftssicher umsetzen, kontaktieren sie mich.</p>
		<p><%= mail_to 'odl@maddesigns.de', 'maddesigns anfragen', class: 'button' %></p>

		<p>Viele <%= link_to 'Open Device Labs', 'http://opendevicelab.com' %> sind mittlerweile in Deutschland und rund um dem Globus verfügbar, prüfen Sie ob nicht ein Lab in Ihrer Nähe ist.</p>

		<h2 id="devicelist">Device List</h2>
		<p><strong>neue Geräte im Device Lab</strong></p>
		<table>
			<thead>
				<tr>
					<th class="col0">Nummer</th>
					<th class="col1">Hersteller</th>
					<th class="col2">Gerät</th>
					<th class="col3">OS</th>
					<th class="col4">Auflösung</th>
					<th class="col5">Device-Width</th>
					<th class="col6">Display</th>
					<th class="col7">Hinweis</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Microsoft</td>
					<td>Surface RT</td>
					<td>Windows 8 RT</td>
					<td>1366 x 768</td>
					<td>1366 x 768</td>
					<td>10,6"</td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Blackberry</td>
					<td>Torch 9800</td>
					<td>Blackberry OS 6</td>
					<td>360 x 480</td>
					<td>360 x 480</td>
					<td>3,2"</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table id="device_table">
			<thead>
				<tr>
					<th class="col0">Nummer</th>
					<th class="col1">Hersteller</th>
					<th class="col2">Gerät</th>
					<th class="col3">OS</th>
					<th class="col4">Auflösung</th>
					<th class="col5">Device-Width</th>
					<th class="col6">Display</th>
					<th class="col7">Hinweis</th>
				</tr>
			</thead>
			<tbody>
			<% @items.each_with_index do |row, index| %>
				<tr>
						<td class="col0"><%= index+1 %></td>
						<% row.each_with_index do |column, i| %>
							<td class="col<%= i+1 %>" data-value="<%= column %>"><%= column %></td>
						<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
		<p><%= image_tag 'modl-smartphones.jpg', :class => 'img' %></p>

		<h3 id="contact">Kontakt</h3>

		<p>
		E-Mail: <%= mail_to 'odl@maddesigns.de', "odl@maddesigns.de" %><br>
		Twitter: <%= link_to '@mobileODL', 'http://twitter.com/mobileODL' %><br>
		Facebook: <%= link_to 'mobileODL', 'https://www.facebook.com/mobileODL' %><br>
		Telefon: <a href="tel:+491702017511">0170 2017511</a></p>

		<h3 id="aboutodl">Über <abbr title="Open Device Lab">ODL</abbr></h3>
		<p>Open Device Labs - kurz <abbr title="Open Device Lab">ODL</abbr> - sind eine Community-Bewegung, die sich inzwischen über den gesamten Globus erstreckt.
		Die Idee eines Open Device Labs, also ein “offenes Testlabor” für mobile Geräte entstand im Frühjahr 2012 in den Agenturräumen von <%= link_to 'Clearleft', 'http://adactio.com/journal/5433/' %> in Brighton (UK), durch das <%= link_to 'Device Lab', 'http://adactio.com/journal/6215/' %> von Cloud4 inspiriert.
		</p>
		<p>
		Dank <%= link_to 'André Jay Meissner', 'http://twitter.com/klick_ass' %>, <%= link_to 'Anselm Hannemann', 'http://twitter.com/helloanselm' %> und <%= link_to 'Christian Schaefer', 'http://twitter.com/derSchepp' %> gibt es inzwischen ein Verzeichnis aller weltweiten <abbr title="Open Device Labs">ODLs</abbr> unter <%= link_to 'http://opendevicelab.com', 'http://opendevicelab.com' %> .
		</p>
		<p>
			Durch eine Initiative von André Jay Meissner und Bruce Bowman gibt es zudem eine Anlaufstelle für Begeisterte um ein eigenes <abbr title="Open Device Lab">ODL</abbr> zu starten: Auf der Webseite <%= link_to 'http://lab-up.org/', 'http://lab-up.org/' %> kann man sich informieren, welche Schritte notwendig und sinnvoll sind um ein Open Device Lab anzubieten. Zudem kann LabUp! auch Kontakte zu Herstellern herstellen, die teils auch Geräte sponsern.
		</p>

	</div>
</main>
<footer>
	<section class="row">
		<div class="small-12 large-12 columns">
			<p>
			„mobile” ODL ist ein Projekt von <%= link_to 'maddesigns – Sven Wolfermann', 'http://maddesigns.de' %>.
			</p>
			<p>
			Inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDStV: Sven Wolfermann, Berliner Str. 6, 14959 Trebbin, E-Mail: <%= mail_to 'odl@maddesigns.de', "odl@maddesigns.de" %>, Telefon: <a href="tel:+491702017511">0170 2017511</a>.
			</p>
			<p class="text-center">⇧ <%= link_to 'nach oben', '#', id: 'to_top' %></p>
		</div>
	</section>
</footer>
