//
// Table Variables
//

// These control the background color for the table and even rows
$table-bg:               #fff !default;
$table-even-row-bg:      #f9f9f9 !default;

// These control the table cell border style
$table-border-style:     solid !default;
$table-border-size:      1px !default;
$table-border-color:     #ddd !default;

// These control the table head styles
$table-head-bg:          #f5f5f5 !default;
$table-head-font-size:   emCalc(14px) !default;
$table-head-font-color:  #222 !default;
$table-head-font-weight: bold !default;
$table-head-padding:     emCalc(8px) emCalc(10px) emCalc(10px) !default;

// These control the row padding and font styles
$table-row-padding:      emCalc(9px) emCalc(10px) !default;
$table-row-font-size:    emCalc(14px) !default;
$table-row-font-color:   #222 !default;
$table-line-height:      emCalc(18px) !default;

// These are for controlling the display and margin of tables
$table-display:          table-cell !default;
$table-margin-bottom:    emCalc(20px) !default;


//
// Table Mixin
//
@mixin table {
  background: $table-bg;
  margin-bottom: $table-margin-bottom;
  border: $table-border-style $table-border-size $table-border-color;
  width: 100%;

  thead,
  tfoot {
    background: $table-head-bg;
    font-weight: $table-head-font-weight;

    tr {
      th,
      td {
        padding: $table-head-padding;
        font-size: $table-head-font-size;
        color: $table-head-font-color;
        text-align: left;
      }
    }
  }

  tr {
    th,
    td {
      padding: $table-row-padding;
      font-size: $table-row-font-size;
      color: $table-row-font-color;
    }

    &.even,
    &.alt,
    &:nth-of-type(even) { background: $table-even-row-bg; }
  }

  thead tr th,
  tfoot tr th,
  tbody tr td,
  tr td,
  tfoot tr td { display: $table-display; line-height: $table-line-height; }
}


/* Tables */
table {
  @include table;

  tr > th,
  tr > td {
    width: 40%;

    @media only screen and (min-width: 480px) {
      width: auto;
    }
  }
  tr > th + th,
  tr > td + td {
    width: 60%;

    @media only screen and (min-width: 480px) {
      width: auto;
    }
  }
  tr > th + th + th,
  tr > td + td + td {
    display: none;

    @media only screen and (min-width: 480px) {
      display: table-cell;
    }
  }

  tr > th + th + th + th,
  tr > td + td + td + td {
    display: none;

    @media only screen and (min-width: 600px) {
      display: table-cell;
    }
  }

  tr > th + th + th + th + th,
  tr > td + td + td + td + td {
    display: none;

    @media only screen and (min-width: 768px) {
      display: table-cell;
    }
  }
}

.col0 {
  width: 10%;
}

.col1 {
  width: 12%;
}

.col2 {
  width: 20%;
}

.col3 {
  width: 15%;
}

.col4 {
  width: 12%;
}

.col5 {
  width: 13%;
}

.col6 {
  width: 9%;
}

.col7 {
  width: 9%;
}



// sorting plugin

th.sort-header {
  cursor:pointer;
}
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
  }
table th.sort-header:after {
  content:'\0020\0020';
  float:right;
  margin-top:7px;
  margin-left:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }
